<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="match_parent">
  <TextView
      android:text="Remove Pallet Menu"
      android:textAppearance="?android:attr/textAppearanceLarge"
      android:layout_width="match_parent"
      android:layout_height="wrap_content"
      android:gravity="center_horizontal"
      android:paddingBottom="20dp"
      android:id="@+id/textView1" />
  <Button
      android:text="Empty Pallet"
      android:layout_width="match_parent"
      android:layout_height="80dp"
      android:id="@+id/btnEmptyPallet" />
  <Button
      android:text="Pallet with Content"
      android:layout_width="match_parent"
      android:layout_height="80dp"
      android:id="@+id/btnPalletWithContent" />
  <Button
      android:text="Error Pallet"
      android:layout_width="match_parent"
      android:layout_height="80dp"
      android:id="@+id/btnErrorPallet" />
  <Button
      android:text="Pre-Pallets"
      android:layout_width="match_parent"
      android:layout_height="80dp"
      android:id="@+id/btnPrePallets" />
  <Button
      android:text="Empty Bin"
      android:layout_width="match_parent"
      android:layout_height="80dp"
      android:id="@+id/btnEmptyBin" />  
  <LinearLayout
      android:orientation="vertical"
      android:layout_width="match_parent"
      android:layout_height="0dp"
      android:layout_weight="1"
      android:gravity="top"
      android:id="@+id/linearLayoutFill" />
  <TextView
      android:textAppearance="?android:attr/textAppearanceMedium"
      android:layout_width="match_parent"
      android:layout_height="40dp"
      android:id="@+id/tvStatus"
      android:clickable="true" />
  <LinearLayout
      android:layout_width="match_parent"
      android:layout_height="wrap_content"
      android:id="@+id/linearLayout2">
    <TextView
        android:text="Build 0.0.0"
        android:textAppearance="?android:attr/textAppearanceSmall"
        android:id="@+id/textViewVersion"
        android:textAlignment="textEnd"
        android:gravity="end"
        android:layout_width="match_parent"
        android:layout_height="match_parent" />
  </LinearLayout>
</LinearLayout>